.nav-main{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.nav-main .logo{
    width: 80px;
}
.nav-main .logo img{
    width: 100%;
}

.searchbox{
    margin: 1%;
    
    
}
.nav-menu{
    display: flex;
   
}
.nav-menu h3{
margin-right: 10px;

}
.body{
    width: 95%;
    margin: auto;
}
.restaurant-list{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    justify-content: space-around;
}
.card{
    width: 300px;
    border: 1px solid grey;
    margin-bottom: 5%;
}
.card p{
    word-wrap: break-word;
}
.card img{
    width: 100%;

}

.searchbox{
   margin: 1%;
}