body{
    margin: 0;
  
}
.nav-main{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: rgb(250,214,14);
    color: black;
    box-shadow: 1px 2px 10px  grey; 
  /* horizontal, vertical, blur, spread, color */
}

.nav-main .logo{
    width: 80px;
}
.nav-main .logo img{
    width: 100%;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    
}

.nav-menu ul li {
    margin-right: 10px;
    margin-top: 30px;
    color: black;
    text-decoration: none; 
}

.restro-name h1{
    margin-left: 75px;
    text-shadow: 1px 1px 3px  black;
}
.body{
 /* background: rgba(244, 238, 122, 0.1); */
 width: 80%;
 margin: auto;
 
}

.searchbox{
    margin: auto;
    width: 23%;
    margin-bottom: 10px;
    margin-top: 20px;
    border: 1px solid rgb(206, 206, 206);
}
.searchbox input{
    padding: 5px;
    border-top-left-radius: 10px;
    border: none;
    width: 16vw;
}
.searchbox input:focus{
   outline: none;
}
.searchbox span{
    border: none;
    background-color: white;
    font-size: 13px;
    color: gray;
    font-weight: bold;
    padding-top: 10px;
}

.restaurant-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    width: 250px;
    margin-bottom: 5%;
    margin: 1%;
    background-color: white;
    color: black;
    
}
.card:hover{
    box-shadow: 1px  2px 10px   grey; 
}
.card > p{
    margin: 0%;
    word-wrap: break-word;
    color: rgb(90, 89, 89);
    text-decoration: none;
}
.card p,.card h3, .card h2{
    margin-left: 5px;
    margin: 6px;
    text-decoration: none;
}

.card img{
    width: 100%;
   

}

.footer-main{
    box-shadow: 1px 2px 10px  grey; 
    background-color: rgb(250,214,14);
    margin: 0;
    padding: 5px;
}
.ratingRed{
    background-color: red;
    color: white;
    border-radius: 2px solid red ;
}
.ratinggreen{
    background-color: green;
    color: white;
    border-radius: 10px solid green ;
}
.cardsubdiv{
    display: flex;
    justify-content: space-between;
    color: rgb(90, 89, 89);
    font-size: 14px;

}

.cardsubdiv p{
    padding: 3px;
}
.cardsubdiv span{
    font-size: 16px;
}


.shimmer-card{
    width: 250px;
    height: 250px;
    background-color: lightgrey;
    margin: 20px;
}
.error-not-found{
    margin-top: 50px;
}
.error-not-found h2{
    text-align: center;
}
.error-404{
    background-color: red;
    margin: auto;
    width: 20vw;
    padding: 20px;
}
.error-404 h1{
    text-align: center;
    color: white;
}

.Restaurant-single-container{
    display: flex;
    margin: 20px;
    justify-content: space-evenly;

}
.restaurant-shimmer{
    width: 300px;
    height: 300px;
    background-color: lightgray;
}
.restaurant-shimer-text{
    width: 300px;
    height: 20px;
    background-color: lightgray;
    margin: 10px 0px;
    
    
}

.menu-shimmer-main .menu-shimmer{
    width: 300px;
    height: 20px;
    background-color: lightgray;
    margin: 10px 0px;
}
@media screen and (max-width: 1200px) {
    .searchbox input{
        width: 14vw;
    }  
}

@media screen and (max-width: 600px) {
    .searchbox input{
        width: 12vw;
    }  
}